<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziheliu.ojbackend.dao.mybatis.SubmissionMapper">

    <resultMap id="submission" type="Submission">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="problemId" column="problem_id"/>
        <result property="createDate" column="create_date"/>
        <result property="status" column="status"/>
        <result property="code" column="code"/>
        <result property="score" column="score"/>
        <result property="result" column="result"/>
    </resultMap>

    <insert id="insertSubmission" useGeneratedKeys="true" keyProperty="id">
        INSERT
          INTO submission (`username`, `problem_id`, `create_date`, `status`, `code`)
          VALUES (#{username}, #{problemId}, #{createDate}, #{status}, #{code})

    </insert>

    <select id="selectSubmissionById" resultMap="submission">
        SELECT * FROM submission WHERE id = #{submissionId}
    </select>

    <select id="selectSubmissions" resultMap="submission">
        SELECT * FROM submission
    </select>

    <select id="hasUnfinishedSubmissions" resultType="java.lang.Integer">
        SELECT count(*) FROM submission
          WHERE username = #{username} and problem_id = #{problemId} and status not in ("SUCCESS", "FAIELD")
    </select>

</mapper>