<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziheliu.dao.mybatis.UserMapper">

    <resultMap id="user" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <resultMap id="role" type="Role">
        <id property="id" column="id"/>
        <result property="description" column="description"/>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (`username`, `password`, `salt`) VALUES (#{username}, #{password}, #{salt})
    </insert>

    <select id="selectUserByUsername" resultMap="user">
        SELECT * FROM user WHERE username = #{username}
    </select>


    <insert id="insertUserRole">
        INSERT INTO user_role (`user_id`, `role_id`) VALUES (#{userId}, #{roleId})
    </insert>

    <select id="selectRoleListByUsername" resultMap="role">
        SELECT role.id, role.description
          from user join user_role join role
          on user.id = user_role.user_id and role.id = user_role.role_id
          where user.username = #{username}
    </select>

    <select id="selectRoleByDescription" resultMap="role">
        SELECT * FROM role WHERE description = #{description}
    </select>



</mapper>